extends layout

block content
    // Wrapper
    #wrapper

        // Miner info
        #minerInfo
            h2 Miner Info
            table
                thead
                    th Name
                    th Host
                    th Uptime
                    th ETH Stats
                    th DCR Stats
                    th Temp:Fan
                    th Pools
                    th Ver
                    th Comments
                tbody
        #minerSummary
        // /Miner info

    // /Wrapper
